body {
  background-color: rgba(129, 23, 19, 0.562)
}

.header {
  text-align: center;
  font-size: 1.5rem;
}

.header img {
  width: 6vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container img {
  margin: 5px;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 20vw;
}

.orders {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  border: solid 7px darkgray;
  border-radius: 10px;
  margin: 2rem;
  min-height: 50vh;
  min-width: 30vw;
}

.orders-header {
  background-color:rgb(219, 195, 159);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.menu-container {
  font-size: 1.5rem;
  font-weight: 1000;
  background-color:cornsilk;
  margin: 2rem;
  border: solid 7px darkgrey;
  border-radius: 10px;

}

.menu-header {
  background-color:rgb(219, 195, 159);
  text-align: center;
}

.menu-container {
  font-size: 2rem;
  font-weight: 1000;
  background-color:cornsilk;
  margin: 2rem;
  border: solid 7px darkgrey;
  border-radius: 10px;

}

.menu-header {
  background-color:rgb(219, 195, 159);
  text-align: center;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}

.list {
  font-size: 1.25rem;
  font-weight: 600;
  list-style-type: none;
}

.list img {
  width: 5vw;
}

.order-list {
  display: grid;
  /* justify-content: space-around; */
  grid-template-columns: 2fr 1fr .75fr;
  margin: 1rem;
}

.checkout {
  display: flex;
  justify-content: space-around;
  background-color:rgb(219, 195, 159);
  font-size: 2rem;
  min-width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.checkout button {
  background-color: green;
}

button {
  border-radius: 5px;
  background-color: chocolate;
  color: white;
  font-size: 1.2rem;
  max-height: 1.8rem;
  padding: 2px;
}

button:hover {
  background-color: rgb(155, 0, 0);
}