body {
  background-color: rgba(129, 23, 19, 0.562)
}

.header {
  text-align: center;
  font-size: 2rem;
}

.header img {
  width: 10vw;
}

.container {
  display: flex;
  flex-direction: row;
}

.orders {
  display: flex;
  flex-direction: column;
}

.container img {
  margin: 5px;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 20vw;
}